@charset "utf-8";
*{margin: 0;padding: 0;box-sizing: border-box;}
a{text-decoration: none;color: inherit;}
ul, ol , li{list-style: none;}
.clear_fix::before,
.clear_fix::after{
    content: "";
    display: block;
    clear: both;
}
body{font-family: "고딕";}
table{border-collapse: collapse;}
/* img{vertical-align: ;} */

